<!--suppress HtmlUnknownTarget -->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>123->эрудит</title>

    {% if Configs.MainConfig.IS_MODE_DEV %}
        <script type="text/javascript" src="/static/jquery/jquery-1.11.2.js"></script>
        <script type="text/javascript" src="/static/jquery/jquery.fullPage.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.fullPage.css" />

        <link rel="stylesheet" type="text/css" href="/static/bootstrap2/css/bootstrap.css" />
        <script type="text/javascript" src="/static/bootstrap2/js/bootstrap.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/css/myachieve.css">
        <script type="text/javascript" src="/static/js/myachieve.js"></script>

        <link href="/static/iconfont/material-icons.css" rel="stylesheet">

        <script type="text/javascript" src="/static/charts/highcharts.js"></script>
        <script type="text/javascript" src="/static/charts/exporting.js"></script>
    {% elif Configs.MainConfig.IS_MODE_PROD %}
        <script type="text/javascript" src="/static/jquery/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/static/jquery/jquery.fullPage.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.fullPage.min.css" />

        <link rel="stylesheet" type="text/css" href="/static/bootstrap2/css/bootstrap.min.css" />
        <script type="text/javascript" src="/static/bootstrap2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/css/myachieve.min.css"/>
        <script type="text/javascript" src="/static/js/myachieve.min.js"></script>

        <link href="/static/iconfont/material-icons.min.css" rel="stylesheet">
    {% endif %}
</head>

<body>
    {% include 'components/configs.html' %}
    {% include 'components/ajax_forms.html' %}

    {% include 'components/navbar.html' %}

    {% block content %}{% endblock %}

    <div id="vk_api_transport"></div>
    <script type="text/javascript">
        window.vkAsyncInit = function() {
            VK.init({
                apiId: {{  Configs.VkConfig.SITE_APP_ID }}
            });
        };
        setTimeout(function() {
            var el = document.createElement("script");
            el.type = "text/javascript";
            el.src = "//vk.com/js/api/openapi.js";
            el.async = true;
            document.getElementById("vk_api_transport").appendChild(el);
        }, 0);
    </script>

    <script>
        $(document).ready(function() {
            $('#fullpage').fullpage({
                lockAnchors: false,
                sectionsColor: [, 'rgba(0, 157, 243, 0.10)', 'rgba(64, 240, 243, 0.20)','rgba(64, 240, 243, 0.20)', , ,'whitesmoke'],
                scrollingSpeed: 500,
                navigation: true,
                navigationPosition: 'right',
                menu: '.navbar',
                css3: true
            });
        });
    </script>

    {% if Configs.MainConfig.IS_MODE_PROD %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-71964929-1', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}
</body>
</html>