{% extends 'base.html' %}

{% block content %}
<div class="form-translate">
    <div class="form-block">
        <div class="form__inputs">
            <label><b>Введите число:</b></label>
            <input type="text" class="js-num" pattern="^[0-9-]+$">
            <button class="btn btn-translate js-translate">Перевести</button>
        </div>

        <div class="form__checkboxes">
            Параметры:
            <label class="checkbox">
                <input type="checkbox" class="js-auto-split"> Авторазбиение
            </label>

            <label class="checkbox">
                <input type="checkbox"
                       class="js-dop-words"
                       data-toggle="tooltip"
                       title="В словах задействуются все согласные буквы,
                       но шифровка идет только по простому набору букв.">
                Добавить согласных к простому набору букв
            </label>

            <label class="checkbox">
                <input type="checkbox"
                       class="js-ext-words"
                       data-toggle="tooltip"
                       title="Используются все согласные буквы. Шифровка идет по всем наборам букв.">
                Использовать расширенный набор слов
            </label>

            <label class="checkbox">
                <input type="checkbox"
                       class="js-added-words"
                       data-toggle="tooltip"
                       title="В словах будут присутствовать слова, добавленные пользователями. Поскольку их качество
                       под сомнением, они выделяются красным цветом и не поднимаются в рейтинге при выборе удачной фразы.">
                Искать в непроверенных
            </label>
        </div>
    </div>

    <div class="help-table">
        <table>
            <tr>
                <td>Число</td>
                <td>Простой <br>набор</td>
                <td>Продвинутый <br>набор</td>
            </tr>

            <tr>
                <td>0</td>
                <td>н</td>
                <td>ф</td>
            </tr>

            <tr>
                <td>1</td>
                <td>р (раз)</td>
                <td>ц</td>
            </tr>

            <tr>
                <td>2</td>
                <td>д</td>
                <td>б</td>
            </tr>

            <tr>
                <td>3</td>
                <td>т</td>
                <td>щ</td>
            </tr>

            <tr>
                <td>4</td>
                <td>ч</td>
                <td>к</td>
            </tr>

            <tr>
                <td>5</td>
                <td>п</td>
                <td>г</td>
            </tr>

            <tr>
                <td>6</td>
                <td>ш</td>
                <td>л</td>
            </tr>

            <tr>
                <td>7</td>
                <td>с</td>
                <td>ж</td>
            </tr>

            <tr>
                <td>8</td>
                <td>в</td>
                <td>х</td>
            </tr>

            <tr>
                <td>9</td>
                <td>з</td>
                <td>м</td>
            </tr>
        </table>
    </div>

    <div class="help-block">
        Поиск без параметров выведет слова со всеми гласными и с согласными ТОЛЬКО из простого набора.
        Используйте расширенный набор и поиск в непроверенных, добавляйте согласных к простому набору букв,
        чтобы разнообразить число выводимых слов.
    </div>
</div>

<!--div class="words__best">
    <div class="best__title">
        <h4>
            Выбор пользователей:
        </h4>
    </div>

    <div class="best-words js-best-words"></div>
</div-->

<div class="words__wrap">
    <div class="words__title">
        <h4>
            Найденные слова:
        </h4>
    </div>

    <div class="words js-words"></div>

    {% if request.user.is_authenticated %}
        <div class="btns-like hide">
            <div class="btn-like">
                <button class="btn btn-large btn-success btn-good-phrase">
                    Это удачная фраза!
                </button>
            </div>

            <div class="btn-like">
                <button class="btn btn-large btn-danger btn-bad-phrase">
                    Это плохая фраза!
                </button>
            </div>

            <div class="btn-like">
                <button class="btn btn-large btn-primary btn-save-query">
                    Cохранить
                </button>
            </div>

            <div class="btn-like js-like-msg msg"></div>
        </div>
    {% endif %}
</div>

<script>
    $('.js-translate').on('click', __getWords);

    var $extwords = $('.js-ext-words'),
        $dopwords = $('.js-dop-words');

    $extwords.tooltip();
    $dopwords.tooltip();
    $('.js-added-words').tooltip();

    $dopwords.on('click', function(){
        $extwords.removeAttr('checked');
        $dopwords.attr('checked');
    });

    $extwords.on('click', function(){
        $dopwords.removeAttr('checked');
        $extwords.attr('checked');
    })
</script>
{% endblock %}