{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
$(function () {
    $('#queries').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Статистика по запросам пользователей'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            categories: {% autoescape off %} {{ date_queries }} {% endautoescape %}
        },
        yAxis: {
            title: {
                text: 'Количество запросов'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Запросов',
            data: {{ count_queries }}
        }]
    });
})
</script>

<script type="text/javascript">
$(function () {
    $('#signin').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Статистика по авторизации пользователей через ВКонтакте'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            categories: {% autoescape off %} {{ date_signin }} {% endautoescape %}
        },
        yAxis: {
            title: {
                text: 'Количество заходов'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Заходов',
            data: {{ count_signin }}
        }]
    });
})
</script>

<script type="text/javascript">
$(function () {
    $('#add').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Статистика по добавленным словам'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            categories: {% autoescape off %} {{ date_add }} {% endautoescape %}
        },
        yAxis: {
            title: {
                text: 'Количество добавлений'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Добавлений',
            data: {{ count_add }}
        }]
    });
})
</script>

<div id="queries" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div id="signin" style="min-width: 310px; height: 400px; margin: 100px auto 0 auto"></div>

<div id="add" style="min-width: 310px; height: 400px; margin: 100px auto 0 auto"></div>

{% endblock %}