{% extends 'base.html' %}

{% block content %}

<div class="owner">
    <span>
        Профиль {{ owner.name }}
    </span>
</div>

{% if request.user.is_authenticated %}
    <div class="add-new-word">
        <input type="text" class="js-new-word" pattern="^[А-Яа-яЁё-]+$">
        <button class="btn btn-primary js-add-word">Добавить новое слово</button>
        <div class="msg"></div>
    </div>
{% endif %}

<div class="added">
    <div class="added__title">
        Добавленные слова
    </div>

    <table class="added__table">
        <tr>
            <td>
                Дата добавления
            </td>

            <td>
                Слово
            </td>
        </tr>

        {% for item in added %}
            <tr>
                <td class="td-wide">
                    {{item.date}}
                </td>

                <td class="td-words">
                    {{item.word}}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="queries">
    <div class="queries__title">
        Сохраненные фразы
    </div>

    <table class="queries__table">
        <tr>
            <td>
                Число
            </td>

            <td>
                Фраза
            </td>
        </tr>
        {% for item in queries %}
            <tr>
                <td class="td-wide">
                    {{item.query}}
                </td>

                <td class="td-words">
                    <span class="worrd">
                        {{item.words}}
                    </span>

                    {% if request.user.id == owner.id %}
                        <span class="label label-important js-delete-query" data-id="{{ item.id }}">
                            Удалить
                        </span>
                    {% endif %}
                </td>

                <td class="td-like">
                    <span class="{{ item.get_like_html_class }} badge badge-important js-like-saved-phrase" data-id="{{ item.id }}"
                          data-owner="{{ owner.id }}">
                        {{ item.likes }}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<script>
    $('.js-add-word').on('click', __addWord);

    $('.js-delete-query').on('click', __deleteQuery);

    $('.js-like-saved-phrase').on('click', __likeSavedPhrase);
</script>
{% endblock %}