<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li>
                    <a href="/" class="home-href">
                        <i class="material-icons">home</i>
                        <b>Главная</b>
                    </a>
                </li>
            </ul>

            <ul class="nav pull-right">
                <li>
                    <a class="nav__li nav__stat" href="{{ Factory.URLBuilder.build_statistics_page_url }}">
                        Статистика
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="dropdown logged">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="nav__li">{{ request.user.name }}</span>

                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{{ user_self }}">Мой профиль</a></li>
                        </ul>
                    </li>
                    <li><button class="js-signout btn btn-large btn-signout">Выход</button></li>
                {% else %}
                    <li><button class="js-show_auth btn btn-large btn-auth">Вход <span class="divider-nobs inlineblock">|</span> Регистрация</button></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="js-auth_forms auth-forms">
    <button class="js-signin_vk btn-vk"><img src="/static/pic/btns/vk-btn.jpg" class="vk-btn"></button>
</div>

<script>
    $('.js-show_auth').on('click', function () {
        $('.js-auth_forms').toggle();
    });

    $('.js-signout').on('click', MACH.utils.userSignout);
    $('.js-signin_vk').on('click', MACH.utils.userSignin);
</script>