/*******************************/
/**********************FORMS****/
/*******************************/
.form-translate
{
    height: 300px;
    margin: 25px 0 0 450px;
    text-align: left;
}

.form-block
{
    float: left;
}

.form__inputs
{
    margin: 5px;
    position: relative;
    width: 350px;
}

.form__checkboxes
{
    margin: 5px;
    position: relative;
    width: 350px;
}

.textarea-num
{
    resize: none;
}

.btn-translate
{
    margin-bottom: 10px;
}

.help-block
{
    float: left;
    margin: 10px;
    width: 250px;
}

.help-table
{
    float: left;
}

.help-table td
{
    border: grey 1px solid;
    text-align: center;
}


/*******************************/
/**********************WORDS****/
/*******************************/

.words__wrap
{
    margin: auto;
    width: 1295px;
}

.words__title, .best__title
{
    text-align: center;
}

.words
{
    width: inherit;
}

.b-words
{
    box-sizing: border-box;
    float: left;
    height: 300px;
    padding: 0 5px 0 5px;
    width: 300px;
}

.num-out
{
    font-weight: bold;
    text-align: center;
}

.ul-words
{
    border: 1px solid black;
    box-sizing: border-box;
    list-style-type: none;
    height: 250px;
    margin: 0;
    padding: 0 10px 0 10px;
    overflow: auto;
}

.word
{
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}

.li-word .material-icons
{
    color: darkgray;
    display: none;
    font-size: medium;
    vertical-align: middle;
}

.li-word:hover .material-icons
{
    display: inline-block;
}

.icon-thumb:hover
{
    cursor: pointer;
}

.icon-thumb-up:active
{
    color: deeppink;
}

.icon-thumb-down:active
{
    color: grey;
}

.icon-save:active
{
    color: green;
}

.li-check
{
    background-color: rgba(0, 211, 5, 0.49);
}

.li-ok-word:hover
{
    background-color: rgba(102, 221, 255, 0.33);
}

.li-added-word:hover
{
    background-color: rgba(149, 59, 57, 0.33);
}

.li-some-word
{
    cursor:pointer;
}

.btns-like
{
    float: left;
    position: relative;
    top: 50px;
    width: 240px;
}

.btn-like
{
    margin: 10px;
}

.btn-good-phrase, .btn-bad-phrase, .btn-save-query
{
    position: relative;
}

.msg
{
    font-weight: bold;
    width: 400px;
}

.msg-success
{
    color: green;
}

.msg-error
{
    color: red;
}

.msg-save
{
    color: blue;
}



/*******************************/
/******************USER PAGE****/
/*******************************/

.owner
{
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.add-new-word
{
    float: left;
    margin: 50px 100px 0 20px;
    position: relative;
}

.add-new-word input
{
    margin: 0 !important;
}

.queries
{
    float: left;
    height: 300px;
    overflow: auto;
    -ms-overflow-y: auto;
    padding: 10px;
    position: relative;
    width: 420px;
}

.added
{
    float: left;
    height: 300px;
    overflow-y: auto;
    -ms-overflow-y: auto;
    padding: 10px;
    position: relative;
    width: 300px;

}

.queries__title, .added__title
{
    font-size: medium;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.queries__table
{
    width: 100%;
}

.queries__table td, .added__table td
{
    border: 1px solid black;
}

.td-wide
{
    white-space: nowrap;
}

.td-words
{
    word-break: break-all;
}

.td-words .label
{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 100px;
}

.td-like .badge
{
    background-color: rgba(255, 20, 147, 0.41) !important;
    cursor: pointer;
    position: relative
}

.td-words:hover .label
{
    display: inline;
}

.td-like .badge-like
{
    background-color: #ff1493 !important;;
}

/*******************************/
/*********************NAVBAR****/
/*******************************/

.auth-forms
{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    display: none;
    height: 50px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 62px;
    width: 250px;
    z-index: 5;
}

.vk-btn /*картинка*/
{
    height: 50px;
}

.btn-vk /*кнопка*/
{
    border: 0;
    padding: 0;
}

.btn-auth
{
    cursor: pointer;
    margin: 7px 0 0 0 !important;
    vertical-align: middle;
}

.navbar .dropdown
{
    padding: 10px 0 0;
}

.nav__li
{
    font-size: large;
}

.nav__stat
{
    padding-top: 20px !important;
}

.home-href
{
    line-height: 40px;
    color: black !important;
}

.home-href .material-icons
{
    line-height: 40px;
    vertical-align: top;
}

.home-href b
{
    line-height: 40px;
    vertical-align: middle;
}

/*******************************/
/********************HELPERS****/
/*******************************/

.hide
{
    display: none;
}

.blokk
{
    display: block;
}

.highcharts-title
{
    font-weight: bold;
}